section(data-section="faq")
  .content
    h1.collapsed-top-margin!=htmlWebpackPlugin.options.t('faq.whosBehindThis')
    p!=htmlWebpackPlugin.options.t('faq.partnership')
    p!=htmlWebpackPlugin.options.t('faq.network')
    p!=htmlWebpackPlugin.options.t('faq.networkContinued')

    .logos(style="text-align: center; margin-bottom: 3em")
      include ../../media/cloudflare-apnic.svg

    h1.collapsed-top-margin!=htmlWebpackPlugin.options.t('faq.canIintegrate')
    p!=htmlWebpackPlugin.options.t('faq.integrationInfo')
    p!=htmlWebpackPlugin.options.t('faq.integrationDocs')

    h1(style="margin-top: 2em")!=htmlWebpackPlugin.options.t('faq.warpVsDNS')
    p!=htmlWebpackPlugin.options.t('faq.warpVsDNSAnswer')
