section(data-section="share")
  .accent-background

  h2.light-on-dark!=htmlWebpackPlugin.options.t('share.header')

  .share-buttons
    a.button.share-button(
      target="_blank"
      href=htmlWebpackPlugin.options.formatURL({
        host: 'https://twitter.com/intent/tweet',
        query: {
          text: htmlWebpackPlugin.options.t('share.tweetBody'),
          hashtags: '1dot1dot1dot1',
          url: 'https://1.1.1.1'
        }
      })
    )
      include ../../media/twitter.svg

    a.button.share-button(
      target="_blank"
      href=htmlWebpackPlugin.options.formatURL({
        host: 'https://www.facebook.com/sharer/sharer.php',
        query: {
          u: 'https://1.1.1.1'
        }
      }))
      include ../../media/facebook.svg

    a.button.share-button(
      target="_blank"
      href=htmlWebpackPlugin.options.formatURL({
        host: 'mailto:',
        query: {
          subject: htmlWebpackPlugin.options.t('share.emailSubject'),
          body: htmlWebpackPlugin.options.t('share.emailBody')
        }
      }))
      include ../../media/email.svg
